.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $backdrop-bg-color;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;
    min-height: 581px;
    min-width: 528px;

    background-color: $primary-fill-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}


.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    fill: currentColor;
    background-color: $primary-fill-color;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-btn:hover,
.close-btn:focus {
    fill: $accent-color;
}

.modal-title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}

.modal-form {
    width: 448px;
    text-align: left;

}

.form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.modal-field {
    position: relative;
    color: $primary-text-color;
}


.modal-input {
    display: block;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    margin-bottom: 10px;
    color: $primary-text-color;
    border: 1px solid $modal-input-border;
    border-radius: 4px;
    outline: none;
    box-shadow: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.comment-input:focus {
    border: 1px solid $accent-color;
}


.modal-icon {
    position: absolute;
    top: 29px;
    left: 12px;
    fill: $secondary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: $accent-color;
}



.comment-input {

    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    color: $primary-text-color;
    border: 1px solid $modal-input-border;
    border-radius: 4px;
    outline: none;
    box-shadow: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input::placeholder {
    color: $comment-placeholder-color;
}

.checkbox-input {

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    /* Или
    position: absolute;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */

}



.checkbox-text {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.checkbox-link {
    /* display: inline-block; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;


    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: $accent-color;
}

.modal-checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

.check-off {
    position: absolute;
    left: 12px;
    /* Или margin-left: 12px; */
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.check-on {
    position: absolute;
    left: 12px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* pointer-events: none;
  visibility: hidden;
  ? */

}

.checkbox-input:checked~.check-on {
    opacity: 1;
}

.checkbox-input:checked~.check-off {
    opacity: 0;
}

.checkbox-input:focus~.check-off {
    border: 2px solid $secondary-text-color;
}

.modal-button {

    display: block;
    margin: 0 auto;
    padding: 10px 52px;

}

.form-button:hover,
.form-button:focus,
.modal-button:hover,
.modal-button:focus {
    background-color: $hero-btn-active-color;
}