
.team {
    background-color: $secondary-fill-color;

    &__list {
        display: flex;
    }

    &__name,
    &__job-title {

        font-size: 16px;
        line-height: 1.2;
        text-align: center;

        letter-spacing: 0.03em;
    }

    &__name {
        margin-bottom: 10px;
        font-weight: 500;
        color: $secondary-text-color;
    }

    &__job-title {
        margin-bottom: 16px;
        color: $primary-text-color;
    }

    &__content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


.team__card {

    width: 270px;

    background-color: $primary-fill-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &+& {
        margin-left: 30px;
    }

}
